---
import DeviceIcon from "../Icons/DeviceIcon.astro";
import GitHubIcon from "../Icons/GitHubIcon.astro";
import LinkButton from "./LinkButton.astro";

export const TAGS = {
    CLERK: {
        name: "Clerk Auth",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    SHADCN: {
        name: "Shadcn",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    TS: {
        name: "TypeScript",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    ASP: {
        name: "ASP.NET Core",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    AZURE: {
        name: "Azure",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    "C#": {
        name: "C#",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    HTML: {
        name: "HTML",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    CSS: {
        name: "CSS",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    JS: {
        name: "JavaScript",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    SQL_SERVER: {
        name: "SQL Server",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    DRIZZLE: {
        name: "Drizzle",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    NEON_TECH: {
        name: "Neon tech",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    POSTGRESQL: {
        name: "PostgreSQL",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    REACT_ROUTER: {
        name: "React router",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    REDUX: {
        name: "Redux",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    REACT: {
        name: "React",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    NEXT: {
        name: "Next.js",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    FIGMA: {
        name: "Figma",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    POSTMAN: {
        name: "Postman",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    JQUERY: {
        name: "JQuery",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-orange-400 dark:bg-orange-300 text-gray-950",
    },
};

export const PROJECTS = [
    {
        title: "Red Emprende Las Bambas",
        description:
            "Proyecto diseñado para gestionar y visualizar oportunidades de licitación dentro de la mina, proporcionando una plataforma donde los usuarios pueden consultar las oportunidades vigentes, conocer los requisitos específicos para participar y postularse de manera eficiente.",
        link: "https://redemprende.lasbambas.com/",
        image: "/mina-proyecto.webp",
        tags: [
            TAGS.REACT,
            TAGS.TS,
            TAGS.FIGMA,
            TAGS.TAILWIND,
            TAGS["C#"],
            TAGS.ASP,
            TAGS.POSTMAN,
            TAGS.SQL_SERVER,
            TAGS.AZURE,
        ],
    },
    {
        title: "Las Bambas",
        description:
            "Plataforma cuyo objetivo principal es informar sobre las actividades mineras de la empresa, sus proyectos de desarrollo sostenible, su impacto social y ambiental, y su relación con las comunidades",
        link: "https://www.lasbambas.com/",
        image: "/lasbambas.webp",
        tags: [
            TAGS.HTML,
            TAGS.CSS,
            TAGS.BOOTSTRAP,
            TAGS.JS,
            TAGS.JQUERY,
            TAGS.ASP,
            TAGS["C#"],
            TAGS.SQL_SERVER,
        ],
    },
    {
        title: "Fast Pizza",
        description:
            "E-Commerce en el que se puede explorar una lista de pizzas, agregar productos, ajustar cantidades, eliminarlos y visualizar el cálculo total del carrito. La navegación entre páginas se gestiona con React Router y el estado de la aplicación con Redux.",
        link: "https://pizza-cart-react-vite.netlify.app",
        github: "https://github.com/gngian10/Pizza-Cart",
        image: "/pizza-proyecto.webp",
        tags: [
            TAGS.REACT,
            TAGS.REACT_ROUTER,
            TAGS.REDUX,
            TAGS.TS,
            TAGS.TAILWIND,
        ],
    },
];
---

<div class="flex flex-col gap-y-28 mb-16">
    {
        PROJECTS.map(
            ({ image, title, description, tags, link, github }, index) => (
                <article
                    class={`flex flex-col space-x-0 space-y-8 group md:flex-row md:space-y-0 ${(index + 1) % 2 === 0 ? "md:self-end md:gap-x-8" : "md:self-start md:space-x-8"} project`}
                >
                    <div
                        class={`w-full md:w-1/2 ${(index + 1) % 2 === 0 && "lg:order-2"}`}
                    >
                        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:hover:bg-gray-800/50">
                            <img
                                alt={title}
                                class="object-cover w-full transition duration-500 sm:h-full md:group-hover:scale-105"
                                loading="lazy"
                                src={image}
                            />
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 md:max-w-lg">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>

                        <div class="flex flex-wrap mt-2">
                            <ul class="flex flex-row flex-wrap mb-2 gap-2">
                                {tags.map((tag) => (
                                    <li>
                                        <span
                                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                        >
                                            {tag.name}
                                        </span>
                                    </li>
                                ))}
                            </ul>

                            <div class="mt-2 text-gray-700 dark:text-gray-400 text-pretty">
                                {description}
                            </div>

                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {github && (
                                    <LinkButton href={github}>
                                        <GitHubIcon class="size-5 md:size-6" />
                                        Repositorio
                                    </LinkButton>
                                )}

                                {link && (
                                    <LinkButton href={link}>
                                        <DeviceIcon class="size-5 md:size-6" />
                                        Visitar
                                    </LinkButton>
                                )}
                            </footer>
                        </div>
                    </div>
                </article>
            )
        )
    }
</div>
